{% if checklist in user.researchers.all %}
    <h1>{{ checklist.checklist_title }} - Researcher View</h1>
{% elif checklist in user.reviewers.all %}
    <h1>{{ checklist.checklist_title }} - Reviewer View</h1>
{% endif %}
<h3>Created By: {{ checklist.creator.name }}</h3>
{% if checklist.document != "" %}
    <a href="{% url 'cl_app:open_document' checklist.id %}" target="_blank" rel="noopener noreferrer"><button>Open Associated Document</button></a>
{% endif %}
<a href="{% url 'cl_app:edit_checklist' checklist.id %}"><button>Edit Checklist</button></a>
<ul>
{% for item in checklist.checklistitem_set.all %}
    <li>
        {% if item.time_estimate is None %}
            {{ item.item_title }} - {{ item.get_status }}
        {% else %}
            {{ item.item_title }} - {{ item.get_status }} - Expected to Be Completed By: {{ item.time_estimate }}
        {% endif %}
        {% if checklist in user.researchers.all and item.item_status != 2 %}
            <a href="{% url 'cl_app:update_item_status' checklist.id item.id 2 %}"><button>Request Review</button></a>
        {% elif checklist in user.reviewers.all and item.item_status == 2 %}
            <a href="{% url 'cl_app:update_item_status' checklist.id item.id 1 %}"><button>Mark As Complete</button></a>
            <a href="{% url 'cl_app:update_item_status' checklist.id item.id 3 %}"><button>Mark As Incomplete</button></a>
        {% endif %}
    </li>
{% endfor %}
</ul>
<a href="{% url 'cl_app:user_checklists' %}"><button>Back</button></a>