
<h1>Checklists</h1>
<a href="{% url 'cl_app:add_checklist' %}"><button>Add Checklist</button></a>
<ul>
{% for checklist in user.checklist_set.all %}
    <li>
        {{ checklist.checklist_title }} - Creator: {{ checklist.creator.name }}
        <a href="{% url 'cl_app:checklist' checklist.id %}"><button>Open Checklist</button></a>
        {% if checklist.creator == user %}
            <a href="{% url 'cl_app:remove_checklist' checklist.id %}"><button>Delete Checklist</button></a>
        {% else %}
            <a href="{% url 'cl_app:leave_checklist' checklist.id %}"><button>Leave Checklist</button></a>
        {% endif %}
    </li>
{% endfor %}
</ul>
<a href="{% url 'cl_app:logout' %}"><button>Logout</button></a>