<h1>{{ checklist.checklist_title }}</h1>
<ul>
{% for checklistitem in checklist.checklistitem_set.all %}
    <li>
        {{ checklistitem.item_title }} - {{ checklistitem.get_status }}
        <a href="{% url 'cl_app:update_item_status' checklist.id checklistitem.id 1 %}"><button>Mark As Complete</button></a>
        <a href="{% url 'cl_app:update_item_status' checklist.id checklistitem.id 3 %}"><button>Mark As Incomplete</button></a>
    </li>
{% endfor %}
</ul>
<a href="{% url 'cl_app:user_checklists' %}"><button>Back</button></a>