{% if checklist in user.researchers.all %}
    <h1>{{ checklist.checklist_title }} - Researcher View</h1>
{% elif checklist in user.reviewers.all %}
    <h1>{{ checklist.checklist_title }} - Reviewer View</h1>
{% endif %}
<h3>Created By: {{ checklist.creator.name }}</h3>
{% if checklist.document != "" %}
    <a href="{% url 'cl_app:open_document' checklist.id %}" target="_blank" rel="noopener noreferrer"><button>Open Associated Document</button></a>
{% endif %}
<a href="{% url 'cl_app:edit_checklist' checklist.id %}"><button>Edit Checklist</button></a>
<ul>
{% for item in checklist.checklistitem_set.all %}
    <li>
        <form action="{% url 'cl_app:update_item_status' item.id %}" method="POST">
            {% csrf_token %}
            {% if item.time_estimate is None %}
                {{ item.item_title }} - {{ item.get_status }}{{ item.get_dependencies }}
            {% else %}
                {{ item.item_title }} - {{ item.get_status }} - Expected to Be Completed By: {{ item.time_estimate }}{{ item.get_dependencies }}
            {% endif %}
            {% if checklist in user.researchers.all and item.item_status != 2 and item.dependencies_completed %}
                <button type="submit" name="status" value="2">Request Review</button>
            {% elif checklist in user.reviewers.all and item.item_status == 2 %}
                <button type="submit" name="status" value="1">Mark As Complete</button>
                <button type="submit" name="status" value="3">Mark As Incomplete</button>
            {% endif %}
        </form>
    </li>
{% endfor %}
</ul>
<a href="{% url 'cl_app:user_checklists' %}"><button>Back</button></a>