<h1>Edit {{ checklist.checklist_title }}</h1>
<form id="edit_checklist" action="{% url 'cl_app:edit_checklist' checklist.id %}" method="POST">
    {% csrf_token %}
    {{ checklist_form.as_p }}
</form>
<h3>Checklist Items</h3>
<ul>
    {% for item in checklist.checklistitem_set.all %}
        <li>
            {% if item.time_estimate is None %}
                {{ item.item_title }} - {{ item.get_status }}
            {% else %}
                {{ item.item_title }} - {{ item.get_status }} - Expected to Be Completed By: {{ item.time_estimate }}
            {% endif %}
            <a href="{% url 'cl_app:remove_item' item.id %}"><button onclick="return confirm('Are you sure?')">Remove Item</button></a>
        </li>
    {% endfor %}
</ul>
<h4>Add Checklist Item</h4>
<form action="{% url 'cl_app:add_item' checklist.id %}" method="POST">
    {% csrf_token %}
    {{ item_form.as_p }}
    <button type="submit">Add Item</button>
</form>
<button type="submit" form="edit_checklist" onclick="return confirm('Are you sure?')">Update Checklist</button>
<a href="{% url 'cl_app:checklist' checklist.id %}"><button>Back</button></a>