{% extends 'user_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Log In</h2>
  <form id="login" method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
  </form>
  <div class="form-row">
    <div class="col text-center pb-4">
      <button type="submit" form="login" class="btn btn-primary">Log In</button>
    </div>
    <div class="col text-center pb-4">
      <a href="{% url 'user_app:register' %}"><button class="btn btn-primary ">Register</button></a>
    </div>
  </div>
{% endblock %}
