{% extends 'user_app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="pb-2">Edit {{ checklist.checklist_title }}</h2>
  <form action="{% url 'cl_app:edit_checklist' checklist.id %}" method="POST" id="checklist">
    {% crispy checklist_form %}
  </form>
  <hr class="mt-2 mb-2">
  <h4 class="pb-2">Checklist Items</h4>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col" width="20%">Checklist Item</th>
        <th scope="col" width="12%">Status</th>
        <th scope="col" width="20%">Estimated Finish Date</th>
        <th scope="col" width="28%">Dependencies</th>
        <th scope="col" width="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in checklist.checklistitem_set.all %}
        <tr>
          <td scope="row">{{ item.item_title }}</td>
          <td>{{ item.get_status }}</td>
          <td>{{ item.time_estimate }}</td>
          <td>{{ item.get_dependencies }}</td>
          <td>
            <div class="col text-center">
              <a href="{% url 'cl_app:remove_item' item.id %}"><button class="btn btn-danger">Delete Item</button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr class="mt-2 mb-2">
  <h4>Add Checklist Item</h4>
  <form action="{% url 'cl_app:add_item' checklist.id %}" method="POST" id="item">
    {% crispy item_form %}
  </form>
  <hr class="mt-3 mb-3">
  <div class="form-row">
    <div class="col text-center pb-2">
      <button type="submit" form="checklist" class="btn btn-success">Update Checklist</button>
    </div>
  </div>
  <div class="form-row">
    <div class="col text-center pb-4">
      <a href="{% url 'cl_app:user_checklists' %}"><button class="btn btn-secondary">Back</button></a>
    </div>
  </div>
{% endblock %}
